<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="/static/css/font.css"/>
    <link rel="stylesheet"
          href="/static/css/normalize.css"/>
    <link rel="stylesheet"
          href="/static/css/main.css"/>
    <title>Whoops.. 403 here</title>
</head>
<div class="wrapper">
    <div th:insert="~{blocks/header :: header}"></div>
    <body>
    <div class="container log-in">
        <div class="container__content">
            <div class="container__top">
                <div class="container__header">Oops.. something goes wrong</div>
                <div class="container__header--offtop">
                    Looks like access denied, please log in <403>
                </div>
            </div>
            <div class="error__container">
                <div class="error__container-icon"></div>
            </div>

        </div>
    </div>
    <script type="module">
        import {burgerMenu, particles} from "/static/js/staticElements.js";
        burgerMenu();
        particles();
    </script>
    </body>
</div>
</html>