
html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

input, textarea {
    background-color: #F4F5FF;
}

input:disabled, textarea:disabled {
    background-color: dimgrey;
    opacity: 1;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    scroll-behavior: smooth;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    color: #F4F5FF;
}

.burger {
    display: none;
}

.shine {
    background: linear-gradient(
            110deg,
            #4380b6 20%,
            #d05d28 30%,
            #d07f5a 70%,
            #536878 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate-reverse;
}

@keyframes textShine {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.fade_away {
    opacity: 0;
}

.boxLoading {
    font-size: 1.5rem;
    height: 30px;
    margin-bottom: 25px;
}

.shake {
    animation: error_shake 0.1s 10 alternate-reverse 1s;
}

@keyframes error_shake {
    0% {
        translate: 5px;
    }
}

.error {
    animation: error_shake 0.05s 8 alternate-reverse;
    transition: 0.1s;
    box-shadow: 0 0 5px 3px rgba(253, 0, 0, 0.934);
}

.error::placeholder {
    color: rgb(255, 55, 55);
}

particle {
    border-radius: 50%;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    opacity: 0;
    z-index: -1;
}

/* ===========================================global=========================================== */
/* ===========================================global=========================================== */

.container {
    animation: text-in 0.9s, slide-down 0.7s;
    transition: 2s;
    margin: 25px 0;
}

@keyframes text-in {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-down {
    0% {
        transform: translateX(-35px);
    }
    100% {
        transform: translateX(0);
    }
}

.container__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_text {
    font-family: "Boston", sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 5px;
    transition: all 0.7s ease-in-out;
    color: #d05d28;
}

.header_text-calculated {
    margin-bottom: 30px;
}

.subheader_text {
    font-family: "Boston", sans-serif;
    font-size: 1rem;
    margin: 5px 0 25px 0;
}


.form {
    display: flex;
    flex-direction: column;
}

.form__label {
    color: #F4F5FF;
    align-self: start;
}

.form__input {
    position: relative;
    min-width: 350px;
    height: 52px;
    display: flex;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 1rem;
    color: black;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    z-index: 2;
}

.form__input-date::after {
    position: absolute;
    right: -7px;
    content: "";
    background: url(/static/icons/anchor.png) no-repeat;
    width: 64px;
    height: 64px;
    scale: 0.3;
    z-index: 1;
}

.form__input-ship::after {
    position: absolute;
    right: -7px;
    content: "";
    background: url(/static/icons/anchor.png) no-repeat;
    width: 64px;
    height: 64px;
    scale: 0.3;
    z-index: 1;
}

.form__input:focus {
    scale: 1.01;
    box-shadow: 0 0 1px 3px rgba(208, 93, 40, 0.75);;
    transition: 0.3s;
}

.button {
    font-size: 1rem;
    font-weight: 600;
    padding: 20px;
    height: 60px;
    min-width: 350px;
    margin-top: 15px;
    border-radius: 10px;
    transition: 0.3s;
    color: black;
}

.button:hover {
    background: #d05d28;
    border-radius: 20px;
    scale: 1.03;
}


/* ===========================================header=========================================== */
/* ===========================================header=========================================== */

.header {
    font-family: "Boston", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 75px;
}

.header__logo_text {
    display: block;
    font-size: 3rem;
    padding-top: 10px;
    max-width: 290px;
    transition: all 1s;
    margin-bottom: 25px;
    z-index: 300;
    position: relative;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
}

.header__nav {
    margin-right: 80px;
    display: flex;
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-right: 50px;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header-nav-link {
    transition: 0.3s;
}

.header-nav-link:hover {
    color: #d05d28;
}

.user__nav {
    position: relative;
    display: flex;
}

.user__nav-list {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user__nav-item:first-child {
    margin-bottom: 15px;
}

.user__nav-link {
    transition: 0.3s;
}

.user__nav-link:hover {
    color: #4380b6;
}


/* ===========================================about/contact=========================================== */
/* ===========================================about/contact=========================================== */

.about {
    margin-top: 350px;
}

.about__container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


.about__desc {
    font-size: 1.5rem;
    max-width: 700px;
}

.about__text-line--stc::first-letter {
    line-height: 2.5rem;
    padding-bottom: 15px;
    font-weight: 800;
    padding-right: 3px;
    color: #d05d28;
}

.about__text-line {
    line-height: 2rem;
    padding-top: 15px;
}

.about__text-line::first-letter {
    padding-top: 15px;
    font-weight: 800;
}

.bold__text {
    display: inline;
    font-weight: 500;
    color: #d05d28;
}

.about__contact {
    margin-left: 75px;
}

.contact__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
}


.text_area {
    height: 140px;
    resize: none;
}


/* ===========================================registration=========================================== */
/* ===========================================registration=========================================== */

.forgot_password_link {
    font-family: "Boston", sans-serif;
    padding-top: 5px;
    transition: 0.3s;
    color: #d05d28;
    align-self: end;
}

.forgot_password_link:hover {
    transform: translateY(-2.5px);
    color: #4380b6;
}

.form__input-cb {
    display: flex;
    max-width: 335px;
}

.cb {
    margin-right: 15px;
}

/* ===========================================login/forgot password=========================================== */
/* ===========================================login/forgot password=========================================== */
.message {
    position: relative;
    animation: message_success 2s;
    font-weight: 800;
    transition: 1s;
    margin-bottom: 25px;
}

.message__exist {
    align-self: end;
}

.message_text {
    font-size: 1rem;
}

.message_success {
    color: rgb(125, 224, 121);
}

.message_fail {
    color: #ff4b4b;
}

.message_success:before {
    position: absolute;
    left: -50px;
    transform: translateY(-75%);
    content: "";
    background: url(/static/icons/ok-icon.png) no-repeat;
    width: 50px;
    height: 50px;
    scale: 0.5;
    display: flex;
}

.message_fail:before {
    position: absolute;
    left: -50px;
    transform: translateY(-75%);
    content: "";
    background: url(/static/icons/fail-icon.png) no-repeat;
    width: 50px;
    height: 50px;
    scale: 0.5;
    display: flex;
}

@keyframes message_success {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* ===========================================errors=========================================== */
/* ===========================================errors=========================================== */

.error__container {
    display: flex;
    width: 300px;
    height: 100px;
    position: relative;
    margin-top: 25px;
}

.error__container-icon {
    display: block;
    position: absolute;
    top: 0;
    left: 7%;
    content: "";
    background: url("/static/icons/404_fail.png") no-repeat;
    background-size: 300px;
    height: 181px;
    width: 300px;
    animation: error_animation ease-in-out 1.1s alternate-reverse infinite;
    transform-origin: 0 0;
}

@keyframes error_animation {
    0% {
        transform: translateY(25px) rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

.blank_page {
    background: url("/static/icons/blankPage.png") no-repeat;
}

/* ===========================================trips=========================================== */
/* ===========================================trips=========================================== */
.container__content--trips {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

.form--trips {
    margin: 25px;
    position: relative;
}

.form__text {
    color: #d05d28;
    margin: 5px 0;
}

.buttons_row {
    margin-top: 15px;
    align-self: end;
}

.button-trips {
    background-color: #F4F5FF;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    margin-left: 7px;
    position: relative;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.2s;
}


.button-trips--edit {
    background-image: url("/static/icons/edit.png");
}

.button-trips--edit:hover {
    box-shadow: 0 0 10px 4px #4380b6;
}

.button-trips--delete {
    background-image: url("/static/icons/delete.png");
}

.button-trips--delete:hover {
    box-shadow: 0 0 10px 4px rgba(253, 0, 0);
}

.active {
    background-image: url("/static/icons/success.png");
    box-shadow: 0 0 10px 4px rgb(125, 224, 121);
}

.updating {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 105%;
    height: 100%;
    background: #000000;
    color: white;
    animation: updateMovement 1s infinite ease-in-out alternate-reverse;
    transition: all 1s;
    opacity: 1;
}

@keyframes updateMovement {
    100% {
        transform: translateX(-5px);
    }
}


/* ===========================================media=========================================== */
/* ===========================================media=========================================== */

/* ===========================================1230=========================================== */
@media (max-width: 1230px) {
    .container__content--trips {
        justify-content: center;
    }
}

/* ===========================================1100=========================================== */
@media (max-width: 1100px) {
    .about__container {
        display: block;
    }

    .about__contact {
        display: block;
        margin-left: 0;
        margin-top: 200px;
    }

    .about__block {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .about__contact {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .contact__form {
        align-items: center;
    }

    .contact__form--input {
        min-width: 400px;
    }

    .container__input--btn-contact {
        min-width: 400px;
    }


}

/* ===========================================900=========================================== */
@media (max-width: 900px) {
    .header__nav-item {
        margin-right: 30px;
    }

    .contact__form--input {
        min-width: 350px;
    }

    .container__input--btn-contact {
        min-width: 350px;
    }
}

/* ===========================================850=========================================== */
@media (max-width: 850px) {

    .header__inner {
        flex-direction: column;
    }

    .header__nav {
        margin-bottom: 30px;
        margin-right: 0;
    }


}

/* ===========================================550=========================================== */
@media (max-width: 550px) {
    .header_text-calculated {
        font-size: 1.5rem;
    }

    .header__inner {
        display: flex;
        transform: translateX(100%);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        width: 100%;
        height: 100%;
        justify-content: center;
        z-index: 100;
        opacity: 0;
        transition: opacity 0.5s;
        padding-top: 100px;
    }

    .header__inner--open {
        transform: translateX(0);
        opacity: 1;
    }

    .burger {
        position: fixed;
        top: 48px;
        right: 25px;
        z-index: 350;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: linear-gradient(
                110deg,
                #4380b6 20%,
                #d05d28 30%,
                #d07f5a 70%,
                #536878 80%
        );
        background-size: 500% auto;
        animation: textShine 5s ease-in-out infinite alternate-reverse;
    }

    .burger span {
        display: block;
        width: 30px;
        height: 4px;
        background-color: #F4F5FF;
        border-radius: 3px;
        margin: 4px 0;
    }

    .burger:before,
    .burger:after {
        content: "";
        display: block;
        width: 30px;
        height: 4px;
        background-color: #F4F5FF;
        border-radius: 3px;
    }

    .header__nav-list {
        flex-direction: column;
        align-items: center;
    }

    .header__nav-item {
        font-size: 2rem;
        margin-bottom: 35px;
        margin-right: 0;
    }

    .user__nav-item {
        font-size: 2rem;
    }

    .about__text-line {
        padding-top: 10px;
    }

    .about__desc {
        font-size: 1.2rem;
    }

}

/* ===========================================450=========================================== */
@media (max-width: 450px) {

    .header_text {
        font-size: 2rem;
    }

    .header_text-calculated {
        font-size: 1.5rem;
    }

    .subheader_text {
        font-size: 0.7rem;
    }

    .form__input-cb {
        display: flex;
        max-width: 235px;
    }

    .message_fail::before {
        display: none;
    }

    .message_success::before {
        display: none;
    }
}

/* ===========================================400=========================================== */
@media (max-width: 400px) {
    .header_text {
        font-size: 1.5rem;
    }

    .burger {
        right: 15px;
    }

    .text_area {
        height: 160px;
    }

    .form__input {
        min-width: 270px;
    }

    .button {
        min-width: 270px;
    }

    .form__cb {
        max-width: 240px;
    }
}

/* ===========================================340=========================================== */
@media (max-width: 340px) {
    .header__logo_text {
        pointer-events: none;
    }
}
