
* {
    font-family: Helvetica Neue, serif;
}

html, body {

    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom, #000000, #000000, #000000, #000000, #000000, #120308, #1d0510, #240817, #350728, #420540, #480b5e, #411a80);
}

h1 {

    background-image: linear-gradient(to right top, #8824b3, #9e65ce, #b89ae3, #d8cdf4, #ffffff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


a, h6, h4, p {
    background-image: linear-gradient(to right bottom, #ffc107, #ffb46f, #ffb9b8, #ffceec, #ffe6ff, #ffe6ff, #ffe6ff, #ffe6ff, #ffceec, #ffb9b8, #ffb46f, #ffc107);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

label {
    color: white;
}


a:hover {
    color: rgb(255, 206, 0) !important;
    text-decoration: none
}

a:focus {
    color: rgb(255, 206, 0);
    text-decoration: none
}


.bootstrap-iso .form-group button, .bootstrap-iso form input.form-control, .bootstrap-iso form textarea.form-control, .bootstrap-iso form select.form-control, .bootstrap-iso form .form-group-lg input.form-control, .bootstrap-iso form .form-group-lg textarea.form-control, .bootstrap-iso form .form-group-lg select.form-control, .bootstrap-iso form .form-group-sm input.form-control, .bootstrap-iso form .form-group-sm textarea.form-control, .bootstrap-iso form .form-group-sm select.form-control {

}

.bootstrap-iso .form-control:focus {
    border-color: #b087e1;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(137, 82, 200, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(137, 82, 200, 0.6);
}

.bootstrap-iso form .input-group-addon {
    color: #ffffff;
    background-color: #15191d;
    border-radius: 4px;
    padding-left: 12px;

}

