<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en"></html>
<head>

    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8"/>
    <title>Change password</title>
    <script async
            src="https://www.googletagmanager.com/gtag/js?id=G-Y7G5XLZSWS"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-Y7G5XLZSWS');
    </script>

</head>

<div class="cover-container d-flex w-100 h-100 mx-auto flex-column text-center">

    <div th:insert="~{blocks/header :: header}"></div>
    <h1 class="display-4 py-4">Change password?</h1>
    <div class="justify-content-center mx-auto">
        <form id="reset_password"
              th:action="@{/forgot_password/reset}"
              th:object="${user}"
              th:method="POST">
            <input type="hidden"
                   th:value="${token}"
                   name="token">

            <th:block th:if="${#fields.hasErrors('password')}">
                <div th:each="el : ${#fields.detailedErrors('password')}"
                     class="me-2">
                    <h6 th:text="${el.getMessage()}"></h6>
                </div>
            </th:block>
            <th:block th:if="*{password != passwordConfirm}">
                <h6 th:text="'Passwords are not matching'"></h6>
            </th:block>

            <div class="my-1">
                <label for="password">Password
                </label>
                <div class="input-group">
                    <input class="form-control"
                           id="password"
                           th:field="*{password}"
                           type="password"
                           placeholder="********"
                           required
                           readonly
                           onfocus="this.removeAttribute('readonly');"/>
                </div>
            </div>

            <div class="my-1">
                <label for="passwordConfirmation">Password confirm</label>
                <div class="input-group">
                    <input class="form-control"
                           id="passwordConfirmation"
                           th:field="*{passwordConfirm}"
                           type="password"
                           placeholder="********"
                           required
                           readonly
                           onfocus="this.removeAttribute('readonly');"/>
                </div>
            </div>
            <br>
            <div>
                <button class="btn btn-warning"
                        name="Sign in"
                        type="submit"
                        form="reset_password">
                    Save changes
                </button>
            </div>
        </form>
    </div>
</div>