<div th:fragment="show_trip_details">


</div>

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <body class="d-flex h-100 text-center text-bg-dark">

    <div th:insert="~{blocks/header :: header}"></div>

    <main class="mt-5 justify-content-center">
        <h1 class="text-warning mb-3" th:text="${single_seatime.shipName}"></h1>
        <div class="d-flex flex-row justify-content-center">
            <div class="col-md-3 col-sm-3 col-xs-3 justify-content-center">
                <h4 class="mb-3" th:text="'From: ' + ${#temporals.format(single_seatime.signOnDate,'dd-MM-yyyy')}"></h4>
                <h4 class="mb-3" th:text="'To: ' + ${#temporals.format(single_seatime.signOffDate,'dd-MM-yyyy')}"></h4>
                <h4 class="mb-3" th:text="${single_seatime.contractLength}"></h4>
                <div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center">
                    <form th:action="@{/trips/edit/{id}(id=${single_seatime.getId()})}"
                          th:object="${single_seatime}"
                          method="get">
                        <input class="btn btn-outline-info" type="submit" value="Edit"/>
                    </form>
                    <div th:insert="~{tripsElements/delete_modal::delete_modal}"></div>
                </div>
            </div>
        </div>

    </main>


    <div th:insert="~{blocks/footer :: footer}"></div>

    </body>
</div>