<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="/static/css/font.css"/>
    <link rel="stylesheet"
          href="/static/css/normalize.css"/>
    <link rel="stylesheet"
          href="/static/css/main.css"/>
    <title>Page in progress</title>
</head>
<div class="wrapper">
    <div th:insert="~{blocks/header :: header}"></div>
    <body>
    <div class="container">
        <div class="container__content">
            <div class="container__top">
                <div class="header_text">The page will be ready soon..</div>
                <div class="subheader_text">
                    I'm hardly working on it..
                </div>
            </div>
            <div class="error__container">
                <div class="error__container-icon blank_page"></div>
            </div>
        </div>
    </div>
    <script type="module">
        import {burgerMenu, particles} from "/static/js/staticElements.js";
        burgerMenu();
        particles();
    </script>
    </body>
</div>
</html>