<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"></html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>About</title>

</head>


<div class="cover-container d-flex w-100 h-100 mx-auto flex-column text-center">


    <div th:insert="~{blocks/header :: header}"></div>

    <main class="">

        <p class="pt-5 fs-3">Calculations are made in according with
            <em class="fw-bolder fw-light">STCW requirements</em>
        </p>

        <p class="pt-3 fs-3">Service calculate days from sign-on to sign-off date inclusively
            <em>*considering leap years*</em>
        </p>


        <p class="pt-3 fs-3">Full month are counted 1st day of the month to 1st day of the next month</p>
        <p class="pt-3 fs-3">Not full month is counted according to 30 days/month system</p>

        <p class="pt-3 fs-3">Valid dates and vessel name are required
            <em>*data is collected for statistics only*</em>
        </p>

        <p>
            <a href="https://github.com/NextGenSeafarer " target="_blank">

            </a>
        </p>
    </main>

</div>