<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="/static/css/normalize.css"/>
    <link rel="stylesheet"
          href="/static/css/main.css"/>
    <title>STC forgot password</title>
</head>
<div class="wrapper">
    <div th:insert="~{blocks/header :: header}"></div>
    <body>
    <div class="container">
        <div class="container__content">
            <div class="container__top">
                <div class="container__header">With new password always better</div>
                <div class="container__header--offtop">
                    Just enter your new strong password
                </div>
            </div>
            <form id="reset_password"
                  th:action="@{/forgot_password/reset}"
                  th:object="${user}"
                  th:method="POST"
                  class="container__forgotPassword_form reset_password_form">
                <input type="hidden"
                       th:value="${token}"
                       name="token">

                <label class="container__form-input_label"
                >New password
                    <input
                            th:field="*{password}"
                            id="password"
                            type="password"
                            class="container__form-input"
                            required
                            placeholder="********"
                            minlength="8"
                    />
                </label>
                <label class="container__form-input_label"
                >New password confirmation
                    <input
                            th:field="*{passwordConfirm}"
                            id="password_confirm"
                            type="password"
                            class="container__form-input"
                            required
                            placeholder="********"
                            minlength="8"
                    />
                </label>
                <input
                        class="container__input--btn forgotPassword-btn"
                        type="submit"
                        value="Change password"
                />
            </form>
        </div>
    </div>
    <script src="/static/js/resetPassword.js"></script>
    </body>
</div>
</html>