<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/boston-traffic" rel="stylesheet">
    <link rel="stylesheet"
          href="/static/css/normalize.css"/>
    <link rel="stylesheet"
          href="/static/css/main.css"/>
    <title>STC forgot password</title>
</head>
<div class="wrapper">
    <div th:insert="~{blocks/header :: header}"></div>
    <body>
    <div class="container">
        <div class="container__content">
            <div class="container__top">
                <div class="header_text">Brand new password</div>
                <div class="subheader_text">
                    Used but good always better
                </div>
            </div>
            <form
                  th:action="@{/forgot_password/reset}"
                  th:object="${user}"
                  th:method="POST"
                  class="form">
                <input type="hidden"
                       th:value="${token}"
                       name="token">

                <label class="form__label"
                >New password
                    <input
                            th:field="*{password}"
                            class="form__input password"
                            type="password"
                            required
                            placeholder="********"
                            minlength="8"
                    />
                </label>
                <label class="form__label"
                >New password confirmation
                    <input
                            th:field="*{passwordConfirm}"
                            class="form__input passwordConfirm"
                            type="password"
                            required
                            placeholder="********"
                            minlength="8"
                    />
                </label>
                <input
                        class="button"
                        type="submit"
                        value="Change password"
                />
            </form>
        </div>
    </div>
    <script type="module"
            src="/static/js/resetPassword.js"></script>
    </body>
</div>
</html>