<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8"/>
    <title>Contact seatimecalculator.ru and get reply within 24 hours</title>
    <meta name="description"
          content="Here you can easy contact me for any feedback or ideas, cant wait to hear from you!">
    <meta name="keywords"
          content="seatime, calculator, seafarer, seatime calculator contacts">
    <script async
            src="https://www.googletagmanager.com/gtag/js?id=G-Y7G5XLZSWS"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-Y7G5XLZSWS');
    </script>
</head>

<div class="cover-container d-flex w-100 h-100 mx-auto flex-column text-center">

    <div th:insert="~{blocks/header :: header}"></div>

    <main class="px-7 pt-5">
        <div class="d-flex flex-row justify-content-center">
            <div th:insert="~{blocks/inputContact :: input_about}"></div>
        </div>
    </main>


</div>