<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="/static/css/normalize.css"/>
    <link rel="stylesheet"
          href="/static/css/main.css"/>
    <title>STC forgot password</title>
  </head>
  <div class="wrapper">
    <div th:insert="~{blocks/header :: header}"></div>
    <body>
      <div class="container log-in">
        <div class="container__content">
          <div class="container__top">
            <div class="container__header">Sometimes happened :)</div>
            <div class="container__header--offtop">
              Just enter you email and I will send you link for restore
            </div>
          </div>
          <form action="#" class="container__forgotPassword_form">
            <label class="container__form-input_label"
              >Email
              <input
                type="email"
                class="container__form-input"
                required
                placeholder="Your email here"
              />
            </label>
            <input
              class="container__input--btn forgotPassword-btn"
              type="submit"
              value="Reset password"
            />
          </form>
        </div>
      </div>
    <script src="../static/js/forgotPassword.js"></script>
    </body>
  </div>
</html>