<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>

    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8"/>
    <title>Forgot password</title>

</head>

<div class="cover-container d-flex w-100 h-100 mx-auto flex-column text-center">

    <div th:insert="~{blocks/header :: header}"></div>

    <div class="justify-content-center">

        <h1 class="display-4 py-4">Forgot password?</h1>
        <div th:if="${message != null}">
            <p class="my-3"
               th:text="${message}"></p>
        </div>
        <form id="login"
              th:action="@{/forgot_password}"
              method="post"
              th:if="${hide_input==null}">
            <div>
                <label>
                    <input type="email"
                           class="form-control"
                           name="email"
                           placeholder="Enter your email here"
                           required>
                </label>
            </div>
            <br>
            <div>
                <button class="btn btn-warning"
                        name="Sign in"
                        type="submit"
                        form="login">
                    Send security link
                </button>
            </div>
        </form>
    </div>
</div>
