<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="/static/css/font.css"/>
    <link rel="stylesheet"
          href="/static/css/normalize.css"/>
    <link rel="stylesheet"
          href="/static/css/main.css"/>
    <title>STC forgot password</title>
</head>
<div class="wrapper">
    <div th:insert="~{blocks/header :: header}"></div>
    <body>
    <div class="container log-in">
        <div class="container__content">
            <div class="header_text">Oops..forgot</div>
            <div class="subheader_text">Enter your email to send restore link
            </div>
            <a hidden="hidden" class="resetLink" th:href="${apiLink}"></a>
            <form action="#"
                  class="form">
                <label class="form__label"
                >Email
                    <input
                            type="email"
                            class="form__input email"
                            required
                            placeholder="Your email here"
                    />
                </label>
                <input
                        class="button"
                        type="submit"
                        value="Reset password"
                />
            </form>
        </div>
    </div>
    <script type="module"
            src="/static/js/forgotPassword.js"></script>
    </body>
</div>
</html>