<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="../static/css/normalize.css"/>
    <link rel="stylesheet"
          href="../static/css/main.css"/>
    <title>Seatime calculator</title>
</head>

<div class="wrapper">
    <!--    <div th:insert="~{blocks/header :: header}"></div>-->
    <header class="header">
        <div class="header__inner">
            <a class="header__website_name"
               href="/">Seatime Calculator</a>
            <nav class="header__nav">
                <ul class="header__nav-list">
                    <li class="header__nav-item">
                        <a href="/"
                           class="header__nav-link">Home</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="/#about__block"
                           class="header__nav-link">About</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="/#contact__block"
                           class="header__nav-link">Contact</a>
                    </li>
                </ul>
            </nav>
            <div class="header__btn-box">
                <div class="header__profile-nav">
                    <a href="/trips"
                       class="header__user-btn--profile">Trips</a>
                    <a href="/#"
                       class="header__user-btn--profile">Profile</a>
                </div>
                <div sec:authorize="isAnonymous()"
                     class="header__user-nav">
                    <a href="/login"
                       class="header__user-btn">Login</a>
                    /
                    <a id="registration"
                       href="/registration"
                       class="header__user-btn">Register</a>
                </div>
                <div sec:authorize="isAuthenticated()"
                     class="header__user-nav">
                    <a href="/logout"
                       class="header__user-btn">Logout</a>
                </div>
            </div>
        </div>
    </header>
    <body>
    <div class="container">
        <div class="container__content">
            <div id="headerText"
                 class="container__header">Enter dates below
            </div>
            <form action="#"
                  class="container__input"
                  name="calculationForm">
                <label class="container__content--label"
                >Sign on
                    <input
                            name="signOnDate"
                            class="container__input--data"
                            type="date"
                            min="1990-01-01"
                            max="2050-01-01"
                            autofocus
                    />
                </label>
                <label class="container__content--label"
                >Sign off
                    <input
                            name="signOffDate"
                            class="container__input--data"
                            type="date"
                            min="1990-01-01"
                            max="2050-01-01"
                    />
                </label>
                <label sec:authorize="isAuthenticated()"
                       class="container__content--label"
                >Vessel name
                    <input
                            id="vesselName"
                            name="vesselName"
                            class="container__input--data"
                            type="text"
                            placeholder="LNG Arc-7"
                            maxlength="20"
                    />
                </label>
                <input  name="buttonCalculate"
                        class="container__input--btn"
                        type="submit"
                        value="Get seatime"
                />
            </form>
        </div>
    </div>
    <div class="about">
        <div class="about__container">
            <div class="about__block">
                <div class="about__header">How does it work</div>
                <div class="about__offtop">Made by seafarer for seafarers</div>
                <div class="about__desc">
                    <div class="about__text-line--stc">Seafarers like</div>
                    <div class="about__text-line--stc">To</div>
                    <div class="about__text-line--stc">
                        Calculate seatime (not really)
                    </div>
                    <div class="about__text-line">
                        This website allows to deal with it in easy way
                    </div>
                    <div class="about__text-line">
                        All you need to know is the sign on and sign off dates
                    </div>
                    <div class="about__text-line">
                        Full month is
                        <div class="bold__text">30</div>
                        days
                    </div>
                    <div class="about__text-line">
                        So, if you sign on
                        <div class="bold__text">17 August 2023</div>
                        and sign off
                        <div class="bold__text">14 November 2023</div>
                        you contract length is
                        <div class="bold__text">2</div>
                        months and
                        <div class="bold__text">29</div>
                        days
                    </div>
                    <div id="about__block"
                         class="about__text-line">
                        Because you have
                        <div class="bold__text">15</div>
                        days in August, than full September
                        <div class="bold__text">(1month)</div>
                        , full October
                        <div class="bold__text">(1month)</div>
                        and
                        <div class="bold__text">14</div>
                        days in November
                    </div>
                </div>
            </div>
            <div id="contact__block"
                 class="about__contact">
                <div class="contact__form--header">Contact form</div>
                <div class="about__offtop">If you have any doubts or ideas</div>
                <form action="#"
                      class="contact__form">
                    <label class="contact__form--label"
                    >Name*
                        <input
                                type="text"
                                class="contact__form--input"
                                placeholder="Your name here"
                                required
                        />
                    </label>
                    <label class="contact__form--label"
                    >Email*
                        <input
                                type="email"
                                class="contact__form--input"
                                placeholder="Your email here"
                                required
                        />
                    </label>
                    <label class="contact__form--label"
                    >Your question/suggestion*
                        <textarea
                                class="contact__form--input text_area"
                                placeholder="Hi, it's Captain Morgan, just want to say that your website is loading amazingly fast at the middle of the ocean!"
                                maxlength="250"
                                required
                        ></textarea>
                    </label>
                    <input
                            class="container__input--btn-contact"
                            type="submit"
                            value="Contact me"
                    />
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript"
            src="../static/js/calculation.js"></script>
    </body>
</div>
</html>
