<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Home</title>
</head>


<div class="flex-wrap flex-column">
    <div th:insert="~{blocks/header :: header}"></div>
    <main class="text-center mt-5">
        <h1>Sea time calculator</h1>
        <br>
        <div class="d-flex flex-row justify-content-center">
            <div th:insert="~{blocks/inputForm :: input_form}"></div>
        </div>
        <br>
    </main>
</div>

