<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="/static/css/normalize.css"/>
    <link rel="stylesheet"
          href="/static/css/main.css"/>
    <title>STC login</title>
</head>
<div class="wrapper"
     id="page_top">
    <div th:insert="~{blocks/header :: header}"></div>
    <body>
    <div class="container">
        <div class="container__content">
                <div class="header_text">Easy log in</div>
                <div class="subheader_text">
                    Don't share your personal information with others
                </div>
            <div class="message_success message"
                 th:if="${success}">
                <div class="message_text">You have successfully registered</div>
            </div>
            <div class="message_fail message"
                 th:if="${param.error}">
                <div class="message_text">Incorrect username / password</div>
            </div>
            <div class="message_success message"
                 th:if="${success_password_change}">
                <div class="message_text">Your password successfully changed</div>
            </div>
            <form action="/login"
                  method="post"
                  class="form">
                <label class="form__label"
                >Email
                    <input
                            name="username"
                            type="email"
                            class="form__input"
                            required
                            placeholder="Your email here"
                    />
                </label>

                <label class="form__label"
                >Password
                    <input
                            name="password"
                            type="password"
                            class="form__input"
                            maxlength="20"
                            required
                            placeholder="********"
                    />
                </label>
                <a href="/forgot_password"
                   class="forgot_password_link">Forgot password</a>
                <input class="button"
                       type="submit"
                       value="Log in"
                />
            </form>
        </div>
    </div>
    <script>
        let params = new URLSearchParams(window.location.search)
        if (params.has('error')) {
            document.querySelector('.forgot_password_link').classList.add('shake');
        }
    </script>
    <script type="module">
        import {particles} from "/static/js/visuals/particles.js";
        particles();
    </script>
    <script type="module">
        import {burgerMenu} from "/static/js/burger.js";
        burgerMenu();
    </script>
    </body>
</div>
</html>
