<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"></html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>My account</title>

</head>


<div class="cover-container d-flex w-100 h-100 mx-auto flex-column text-center">


    <div th:insert="~{blocks/header :: header}"></div>

    <main class="mt-5 container-fluid">
        <h1>Account page</h1>

        <br>
        <div th:if="${message !=null}">
            <h5 class="text-light" th:text="${message}"></h5>
        </div>
        <div class="mt-3" th:object="${user_info}">
            <label for="name">Your name:</label>
            <p id="name" th:text="*{firstname}"></p>

            <label for="surname">Your surname:</label>
            <p id="surname" th:text="*{lastname}"></p>

            <label for="email">Your email:</label>
            <p id="email" th:text="*{username}"></p>

            <label for="email">Registration date:</label>
            <p id="reg_date" th:text="${#temporals.format(user_info.registrationDateAndTime,'dd-MM-yyyy, HH:MM')}"></p>


            <div th:if="*{activationCode != null && activationCode.equals('activated')}">
                <p>You are activated user</p>
            </div>
            <div th:if="*{activationCode == null}">
                <a th:href="@{/account/sendmail}">Activate your account</a>
            </div>


        </div>
    </main>

</div>