<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <title>Registration</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8"/>

</head>

<div class="cover-container d-flex w-100 h-100 mx-auto flex-column text-center">
    <div th:insert="~{blocks/header :: header}"></div>
    <div class="justify-content-center mx-auto">
        <h1 class="display-4 py-4">Registration</h1>

        <form th:action="@{/registration}"
              th:object="${user}"
              method="post">
            <br>

            <th:block th:if="${#fields.hasErrors('firstname')}">
                <div th:each="el : ${#fields.detailedErrors('firstname')}"
                     class="me-2">
                    <h6 th:text="${el.getMessage()}"></h6>
                </div>
            </th:block>

            <div class="my-1">
                <label for="firstname">First name</label>
                <div class="input-group">
                    <input class="form-control"
                           id="firstname"
                           th:field="*{firstname}"
                           type="text"
                           placeholder="Jack"
                           required/>
                </div>
            </div>

            <th:block th:if="${#fields.hasErrors('lastname')}">
                <div th:each="el : ${#fields.detailedErrors('lastname')}"
                     class="me-2">
                    <h6 th:text="${el.getMessage()}"></h6>
                </div>
            </th:block>

            <div class="my-1">
                <label for="lastname">Last name</label>
                <div class="input-group">
                    <input class="form-control"
                           id="lastname"
                           th:field="*{lastname}"
                           type="text"
                           placeholder="Sparrow"
                           required/>
                </div>
            </div>

            <th:block th:if="${#fields.hasErrors('email')}">
                <div th:each="el : ${#fields.detailedErrors('email')}"
                     class="me-2">
                    <h6 th:text="${el.getMessage()}"></h6>
                </div>
            </th:block>

            <th:block th:if="${email_taken}">
                <h6 th:text="'Email is already taken, forgot password ?'"></h6>
                <a class="link-light"
                   href="/forgot_password">Reset password</a>
            </th:block>

            <div class="my-1">
                <label for="email">Email</label>
                <div class="input-group">
                    <input class="form-control"
                           id="email"
                           th:field="*{email}"
                           type="email"
                           placeholder="caramba@gmail.com"
                           required
                           readonly
                           onfocus="this.removeAttribute('readonly');"/>
                </div>
            </div>
            <th:block th:if="${#fields.hasErrors('password')}">
                <div th:each="el : ${#fields.detailedErrors('password')}"
                     class="me-2">
                    <h6 th:text="${el.getMessage()}"></h6>
                </div>
            </th:block>
            <th:block th:if="*{password != passwordConfirm}">
                <h6 th:text="'Passwords are not matching'"></h6>
            </th:block>
            <div class="my-1">
                <label for="password">Password
                </label>
                <div class="input-group">
                    <input class="form-control"
                           id="password"
                           th:field="*{password}"
                           type="password"
                           placeholder="********"
                           required
                           readonly
                           onfocus="this.removeAttribute('readonly');"/>
                </div>
            </div>
            <div class="my-1">
                <label for="passwordConfirmation">Password confirm</label>
                <div class="input-group">
                    <input class="form-control"
                           id="passwordConfirmation"
                           th:field="*{passwordConfirm}"
                           type="password"
                           placeholder="********"
                           required
                           readonly
                           onfocus="this.removeAttribute('readonly');"/>
                </div>
            </div>
            <br>
            <div>
                <button class="btn btn-outline-success btn-ld btn-block"
                        name="register"
                        type="submit">
                    Register
                </button>
            </div>
        </form>
    </div>
</div>