<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet"
          href="/static/css/normalize.css"/>
    <link rel="stylesheet"
          href="/static/css/main.css"/>
    <title>STC registration</title>
</head>
<div class="wrapper">
    <div th:insert="~{blocks/header :: header}"></div>
    <body>
    <div class="container registration">
        <div class="container__content">
            <div class="container__top">
                <div class="container__header">Let's get closer</div>
                <div class="container__header--offtop">
                    Registration allows you to save the tips and helps with voyages
                    tracking
                </div>
            </div>
            <form th:object="${user}"
                  method="post"
                  action="/registration"
                  class="container__registration-form"
                  name="registrationForm"
            >
                <label class="container__form-input_label"
                >Name
                    <input
                            th:field="*{firstname}"
                            type="text"
                            class="container__form-input"
                            name="name"
                            placeholder="Your name here"
                            minlength="2"
                            maxlength="20"
                    />
                </label>
                <label class="container__form-input_label"
                >Surname
                    <input
                            th:field="*{lastname}"
                            type="text"
                            class="container__form-input"
                            name="surname"
                            placeholder="Your surname here"
                            minlength="2"
                            maxlength="20"
                    />
                </label>
                <label class="container__form-input_label"
                >Email
                    <input
                            th:field="*{email}"
                            type="email"
                            class="container__form-input"
                            name="email"
                            placeholder="Your email here"
                            autocomplete="off"
                    />
                </label>
                <label class="container__form-input_label"
                >Password
                    <input
                            th:field="*{password}"
                            type="password"
                            class="container__form-input"
                            name="password"
                            placeholder="********"
                            minlength="8"
                            maxlength="20"
                            autocomplete="new-password"
                    />
                </label>
                <label class="container__form-input_label"
                >Password confirmation
                    <input
                            type="password"
                            class="container__form-input"
                            name="password_confirm"
                            placeholder="********"
                            minlength="8"
                            maxlength="20"
                            autocomplete="new-password"
                    />
                </label>
                <label class="container__form-input_label--cb">
                    <div class="container__form-input--checkbox">
                        <input
                                type="checkbox"
                                class="container__form-input--cb"
                                name="checkbox"
                                required
                        />
                        <span class="container__form-input--cb-custom"></span>
                    </div>
                    I allow to handle all requested information
                </label>
                <input
                        class="container__input--btn reg_btn"
                        type="submit"
                        value="Register"
                />
            </form>
        </div>
    </div>
    <script type="text/javascript"
            src="../static/js/registration.js"></script>
    </body>
</div>
</html>
