<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <body class="d-flex h-100 text-center text-bg-dark">


    <div th:insert="~{blocks/header :: header}"></div>


    <main class="px-7 pt-5">
        <p class="text-muted">Your contracts:</p>
        <div class="container mt-5">
            <h4 class="mb-5 text-warning" th:text="${entries.size() == 0 ? 'You dont have any trips yet' : null}"></h4>
            <div th:each="el : ${entries}" class="me-2">

                <a class="text-warning mx-3" href="#" th:text="${el.shipName}"
                   th:href="@{http://localhost:8080/trips/{id}(id=${el.getId()})}"></a>
<!--                TODO: Think how to replace localhost ot normal link relative-->
                <div th:if="${single_seatime!=null && el.getId() == sea_time_id}">
                    <h4 th:text="'Ship: ' + ${single_seatime.shipName}"></h4>
                    <h4 th:text="'Sign on: ' + ${single_seatime.signOnDate}"></h4>
                    <h4 th:text="'Sign off: ' + ${single_seatime.signOffDate}"></h4>
                    <h4 th:text="'Length: ' + ${single_seatime.contractLength}"></h4>
                </div>
            </div>
        </div>

    </main>

    <div th:insert="~{blocks/footer :: footer}"></div>

    </body>
</div>