<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/boston-traffic" rel="stylesheet">
    <link rel="stylesheet"
          href="/static/css/normalize.css"/>
    <link rel="stylesheet"
          href="/static/css/main.css"/>
    <title>Voyages</title>
</head>

<div class="wrapper">
    <div th:insert="~{blocks/header :: header}"></div>
    <body>
    <div class="container">
        <div class="container__content container__content--trips">
            <div th:if="${empty_list}" class="header_text">Nothing here so far..</div>
            <a hidden="hidden"
               class="tripsLink"
               th:href="${tripsLink}"></a>
            <th:block th:each="voyage: ${voyages}">
                <form th:id="${voyage.id}"
                      action="#"
                      class="form form--trips">
                    <label class="form__label">
                        Vessel name
                        <input
                                name="vesselName"
                                class="form__input form__input--name"
                                type="text"
                                th:value="${voyage.shipName}"
                                disabled
                        />
                    </label>
                    <label class="form__label"
                    >Sign on
                        <input name="signOnDate"
                               class="form__input form__input-date form__input--signOn"
                               type="text"
                               th:value="${voyage.signOnDate}"
                               disabled
                        />
                    </label>
                    <label class="form__label"
                    >Sign off
                        <input
                                name="signOffDate"
                                class="form__input form__input-date form__input--signOff"
                                type="text"
                                th:value="${voyage.signOffDate}"
                                disabled
                        />
                    </label>
                    <div class="form__text form__input--contractLength"
                         th:text="${voyage.contractLength}"></div>
                    <div class="buttons_row">
                        <input th:id="${voyage.id} + e"
                               class="button-trips button-trips--edit"
                               type="button"
                               value=""
                        />
                        <input th:id="${voyage.id} + d"
                               class="button-trips button-trips--delete"
                               type="button"
                               value=""
                        />
                    </div>

                </form>
            </th:block>


        </div>
    </div>
    <script type="module"
            src="/static/js/trips.js">
    </script>
    </body>
</div>
</html>
