<div th:fragment="header"
     xmlns:sec="http://www.w3.org/1999/xhtml">
<header class="header">
    <a class="burger"
       href="#">
        <span></span>
    </a>
    <a href="/"
       class="header__logo_text shine">Seatime Calculator</a>
    <div class="header__inner">
        <div class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item">
                    <a href="/"
                       class="header-nav-link">Home</a>
                </li>
                <li class="header__nav-item">
                    <a href="/#about__block"
                       class="header-nav-link">About</a>
                </li>
                <li class="header__nav-item">
                    <a href="/#contact__block"
                       class="header-nav-link">Contact</a>
                </li>
                <li class="header__nav-item">
                    <a href="/trips"
                       class="header-nav-link">Trips</a>
                </li>
                <li class="header__nav-item">
                    <a href="/profile"
                       class="header-nav-link">Profile</a>
                </li>
            </ul>
        </div>
        <div sec:authorize="isAnonymous()"
             class="user__nav">
            <ul class="user__nav-list">
                <li class="user__nav-item">
                    <a href="/login"
                       class="user__nav-link">Login</a>
                </li>
                <li class="user__nav-item">
                    <a href="/registration"
                       class="user__nav-link">Register</a>
                </li>
            </ul>
        </div>
        <div sec:authorize="isAuthenticated()"
             class="user__nav">
            <ul class="user__nav-list">
                <li class="user__nav-item">
                    <a href="/logout"
                       class="user__nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</header>
</div>