<div th:fragment="header">
    <header class="header">
        <div class="header__inner">
            <a class="header__website_name"
               href="/">Seatime Calculator</a>
            <nav class="header__nav">
                <ul class="header__nav-list">
                    <li class="header__nav-item">
                        <a href="/"
                           class="header__nav-link">Home</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="/#about__block"
                           class="header__nav-link">About</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="/#contact__block"
                           class="header__nav-link">Contact</a>
                    </li>
                </ul>
            </nav>
            <div class="header__btn-box">
                <div class="header__profile-nav">
                    <a href="/trips"
                       class="header__user-btn--profile">Trips</a>
                    <a href="/#"
                       class="header__user-btn--profile">Profile</a>
                </div>
                <div class="header__user-nav">
                    <a href="/login"
                       class="header__user-btn">Log in</a>
                    /
                    <a href="/registration"
                       class="header__user-btn">Register</a>
                </div>
            </div>
        </div>
    </header>
</div>