<div th:fragment="input_about">
    <div class="bootstrap-iso">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <form class="form-horizontal" method="post">
                <div class="form-group form-group-lg">
                    <label class="control-label col-sm-2 mb-2" for="name">
                        Name
                    </label>
                    <div class="">
                        <input class="form-control mb-2" id="name" name="name" placeholder="Jack Sparrow" type="text"
                               maxlength="30"
                               required/>
                    </div>
                </div>
                <div class="form-group form-group-lg">
                    <label class="control-label col-sm-2 mb-2" for="email">
                        Email
                    </label>
                    <div class="">
                        <input class="form-control mb-2" id="email" name="email" placeholder="black.pearl@gmail.com"
                               type="email" required/>
                    </div>
                </div>
                <div class="form-group form-group-lg">
                    <label class="control-label col-sm-2 mb-2" for="message">
                        Message
                    </label>
                    <div class="">
                        <textarea class="form-control" cols="40" id="message" name="message" rows="10"
                                  placeholder="Ideas or any feedback for the project?" maxlength="300"
                                  required></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="mt-3">
                        <button class="btn btn-outline-light" name="submit" type="submit">
                            Contact me!
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>